.navbar {
  height: 200px;
  background-color: aquamarine;
}

.nav-item {
  height: 60px;
  width: 50px;
  padding: 0 20px 0 0;
  display: flex;
  align-items: center;
}

/* .icon-button:hover {
  filter: brightness(1.2);


} */
.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
}
.menu-item {
  display: flex;
  height: 40px;
}
/* .menu-item:hover{
  background-color: rgb(154, 135, 199);
} */
/* .icon-right{
  margin-left: auto;
} */
/* .menu{
  width: 100%;
  background-color: bisque;
} */
/* .menu-primary-enter{
position: absolute;
transform: translateX(-110%);
} */
/* .menu-primary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
} */
/* .menu-primary-exit{
  position: absolute;
} */
/* .menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
} */
/* .css-i4bv87-MuiSvgIcon-root {
  fill: currentColor;
  font-size: 3.5rem;
  padding: 0 0px 0 2px;
} */
/* .icon{
  width:20px;
  height: 50px;
  background-color: rgb(17, 16, 19);
  border-radius: 80%;
  justify-content: space-between;
  display: flex;
} */
.button-all {
  height: 20px;
}
